html, body {
    background: #fff;
    height: 100%;
    width: 100%;
    margin:0;
}

.header-name{
    text-align: center;
    background: #222A35;
    color: #F39723;
    padding: 30px;
}

.bg-image {
/*    background: url(../images/bg.jpg);*/
    background-size: cover;
    height: auto;
    padding: 0px;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    padding-top: 200px;
}

.bg-details > .columns {
    text-align: center;
}

.bg-locations {
    padding-top: 50px;
}

.bg-locations p{
    color: #ddd;
    font-size: 25px;
}

.bg-locations i{
    padding: 20px;
}

.more-details {
    text-align: center;
    padding: 50px;
}

.more-details a{
    text-align: center;
    padding: 25px 40px;
    font-size: 30px;
    border-radius: 50px;
    background: #222A35;
    color: #F39723;
    font-weight: bolder;
}

.f-name {
    font-size: 60px;
    color: #eee;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

.loc {
    font-size: 40px;
    color: #eee;
    padding: 0px;
    margin: 0px;
    padding-bottom: 40px;
}

.bg-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 15px;
    background: rgba(0,0,0, 0.4);
}

.bg-footer > .columns {
    padding: 30px;
    text-align: center;
    padding-top: 50px;
}